header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

body {
    background: linear-gradient(to bottom, white, #4983a1, #021861);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    min-width: 600px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #03102d;
    color: white;
    text-align: left;
    padding: 20px;
    background-image: url('sunset.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain; 
}

h1 {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
}

nav {
    background-color: #89B4CF;
    width: 180px;
    float: left;
    padding: 20px 0;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
}

nav li {
    margin: 30px 0;
}

nav a {
    text-decoration: none;
    color: #040b59;
    font-weight: bold;
}

nav a:hover {
    color: #FFFFFF;
}

#content {
    margin-left: 200px;
    padding: 20px;
}

#content img {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}

#content ul {
    list-style-image: url('marker.gif');
    padding-left: 40px;
}

.resort {
    color: #3399CC;
    font-weight: bold;
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
}

#contact {
    font-size: 90%;
    margin-top: 20px;
}

footer {
    background-color: white;
    color: #666666;
    text-align: center;
    padding: 10px 0;
    font-family: Georgia, "Times New Roman", serif;
    clear: both;
    border-top: 1px solid #CCCCCC;
}

footer {
    background-color: white;
    color: #666666;
    text-align: center;
    padding: 10px 0;
    font-family: Georgia, "Times New Roman", serif;
    clear: both;
    border-top: 1px solid #CCCCCC;
}

footer,
footer a {
    font-style: italic;
}
